.bgHome {
    -fx-background-image: url("../img/shoes_home.jpg");
    -fx-background-insets: -20, -10;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.active {
    -fx-text-fill: #b22222;
}